.card {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 1280px; /* Adjust width as needed */
}

.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 8px 8px 0 0;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  margin: 10px;
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.album img {
  width: 100%;
  height: 60%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.album-info {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  text-align: center; /* Center the text */
}

.album-info h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px; /* Add spacing between elements */
}

.album-info p {
  margin: 0;
  font-size: 14px;
}

.icons {
  display: flex; /* Use flexbox to align icons horizontally */
}

.edit-icon, .delete-icon {
font-size: 20px;
  cursor: pointer;
  margin-right: 160px; /* Add margin between the icons */
}


/* confirm-dialog.component.css */

/* Style the buttons */
mat-dialog-actions {
  justify-content: flex-end; /* Align buttons to the right */
}

/* Decorate the cancel button */
mat-dialog-actions button.cancel-button {
  background-color: #fff;
  color: #f44336; /* Red color */
  border: 1px solid #f44336;
}

/* Decorate the confirm button */
mat-dialog-actions button.confirm-button {
  background-color: #4caf50; /* Green color */
  color: #fff;
}
