/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.header-fixed {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 10px 30px #2f3c4a14;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    z-index: 999;
    margin-left: -8px;
}

.logo {
    float: left;
    max-width: 250px;
    height: 50px;
    padding-top: 15px;
    padding-left: 10px;
}

.logo img {
    width: 70%;
}

.float__right {
    float: right;
    margin-left: auto;
    padding-right: 15px;
}

.user_profile>ul {
    padding: 0;
    margin: 1px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user_profile>ul>li {
    list-style: none;
    float: left;
    background-color: #eaf1fe;
    border-radius: 50%;
    padding: 2px;
    margin-left: 10px;
    position: relative;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.float__right {
    float: right;
    margin-left: auto;
    padding-right: 15px;
}
.user_profile>ul {
    padding: 0;
    margin: 1px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.user_profile>ul>li>a img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
.left_sidebar {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: calc(100vh - 50px);
    overflow: auto;
    background-color: #283d4b;
    position: fixed;
    z-index: 3;
    top: 50px;
    color: #fff; /* Text color */
    padding: 10px 0px;
    margin-left: -8px;
}
.nav_bar {
    width: 100%;
    float: left;
}
.nav_bar>ul {
    padding: 0;
    margin: 0;
}
.nav_bar ul li {
    margin-bottom: 15px;
}

.nav_bar ul li a:hover {
    background-color: #32CD32; /* Green color on hover */
}

.nav_bar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    color: #fff !important;
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    cursor: pointer;
    opacity: .9;
    font-size: 14px;
    letter-spacing: .3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.nav_bar ul li a p {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-bottom: 4px;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 0px;
    transition: all .2s ease-in-out;
}

ul ul {
    margin-bottom: 0;
}

.nav_bar ul li {
    width: 100%;
    float: left;
    position: relative;
    list-style: none;
    border-bottom: solid 1px rgb(255 255 255 / 5%);
}

.nav_bar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    color: #fff !important;
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    cursor: pointer;
    opacity: .9;
    font-size: 14px;
    letter-spacing: .3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.rotate[_ngcontent-bol-c162] {
    transform: rotate(226deg);
    transition: all .2s ease-in-out;
}

.nav_bar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    color: #fff !important;
    transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    cursor: pointer;
    opacity: .9;
    font-size: 14px;
    letter-spacing: .3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.mat-typography p {
    margin: 0 0 12px;
}
.right-content-wrapper {
    width: calc(100% - 250px);
    float: right;
    margin-top: 50px;
    height: 100%;
    transition: .3s;
}

.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main {
    padding: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0 0 25px #b0bac93d;
    border: 1px solid #2e5bff14;
    border-radius: 15px;
}

.user_profile>ul>li>a img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

img, svg {
    vertical-align: middle;
}

.user_profile>ul>li .dropdown-profile {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    transition: .3s;
}

.dropdown-profile {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    margin-top: 14px;
    min-width: 140px;
    right: -5px;
    top: 40px;
    background: #ffffff;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 4px 1px #0003;
    cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
}

.dropdown-profile>a>img {
    height: 18px;
    margin-right: 10px;
}

.dropdown-profile>a>img {
    height: 18px;
    margin-right: 10px;
}

img, svg {
    vertical-align: middle;
}

.dropdown-profile>a:last-child {
    border-bottom: solid 0px #1d3e5a;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
